@import '../variables.module.scss';

.caseStudy {
    background: $black-color;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto;


    .caseslider {
        position: relative;

        &:after {
            content: '';
            background: $black-color;
            width: 300%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: -294%;
            z-index: 1;
        }
    }


    h2 {
        color: $white-color;
        margin-bottom: 80px
    }

    .caseBox {
        @include gradient-background(90deg, rgba(57, 106, 252, 1) 0%, rgba(41, 72, 255, 1) 100%);
        height: 750px;
        border-radius: 20px;
        padding: 30px;

        h2 {
            margin-bottom: 40px;
        }

        .imgBox {
            background: #F2F2F2;
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 20px;
            // min-height: 285px;
            cursor: pointer;
        }

        .contentBox {
            h5 {
                color: $white-color;
                margin-bottom: 10px;
                font-weight: 600;

                span {
                    color: $black-color;
                }
            }

            .durationDiv {
                font-size: 16px;
                margin-bottom: 10px;
                color: $white-color;
                display: flex;
                justify-content: space-between;

                span {
                    font-weight: 600;
                    color: $secondary-color;
                }
            }

            p {
                color: $white-color;
                margin-bottom: 20px;
            }

        }

        .statsBox {
            display: flex;
            align-items: center;
            margin-top: 30px;

            .statsItem {
                border-right: 1px solid $border-color;
                padding: 0px 40px;

                .points {
                    font-size: 40px;
                    line-height: 40px;
                    font-weight: 800;
                    color: $secondary-color;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 10px;

                    svg {
                        height: 26px;
                        margin-right: 10px;
                        width: auto;
                    }
                }

                h6 {
                    font-size: 15px;
                    text-align: center;
                    color: $white-color;
                    font-weight: 400;
                    margin-bottom: 0px;
                }

                &:first-child {
                    padding-left: 0px;
                }

                &:last-child {
                    padding-right: 0px;
                    border-right: 0px;
                }
            }


        }
    }

}

@include media-query(1799px) {
    .caseStudy {
        h2 {
            margin-bottom: 80px
        }

        .caseBox {
            height: 720px;
            border-radius: 20px;
            padding: 30px;

            h2 {
                margin-bottom: 40px;
            }

            .imgBox {
                padding: 20px;
                margin-bottom: 20px;
            }

            .contentBox {
                p {
                    margin-bottom: 30px;
                }

            }

            .statsBox {
                margin-top: 35px;

                .durationDiv {
                    font-size: 15px;
                }

                .statsItem {
                    padding: 0px 35px;

                    .points {
                        font-size: 38px;
                        line-height: 38px;

                        svg {
                            height: 24px;
                        }
                    }

                    h6 {
                        font-size: 15px;
                    }
                }
            }
        }

    }
}

@include media-query(1599px) {
    .caseStudy {
        h2 {
            margin-bottom: 60px
        }

        .caseBox {
            height: 650px;
            border-radius: 15px;
            padding: 25px;

            h2 {
                margin-bottom: 40px;
            }

            .imgBox {
                padding: 20px;
                margin-bottom: 20px;
            }

            .contentBox {
                p {
                    margin-bottom: 20px;
                }

                .durationDiv {
                    font-size: 14px;
                }
            }

            .statsBox {
                margin-top: 30px;

                .statsItem {
                    padding: 0px 35px;

                    .points {
                        font-size: 32px;
                        line-height: 32px;

                        svg {
                            height: 22px;
                        }
                    }

                    h6 {
                        font-size: 14px;
                    }
                }
            }
        }

    }
}

@include media-query(1399px) {
    .caseStudy {
        h2 {
            margin-bottom: 60px
        }

        .caseBox {
            height: 640px;
            border-radius: 15px;
            padding: 20px;

            h2 {
                margin-bottom: 40px;
            }

            .imgBox {
                padding: 20px;
                margin-bottom: 20px;
            }

            .contentBox {
                p {
                    margin-bottom: 20px;
                }

                .durationDiv {
                    font-size: 13px;
                }

            }

            .statsBox {
                margin-top: 30px;

                .statsItem {
                    padding: 0px 25px;

                    .points {
                        font-size: 30px;
                        line-height: 30px;

                        svg {
                            height: 20px;
                        }
                    }

                    h6 {
                        font-size: 14px;
                    }
                }
            }
        }

    }
}

@include media-query(1299px) {
    .caseStudy {
        h2 {
            margin-bottom: 50px
        }

        .caseBox {
            height: 550px;
            border-radius: 12px;
            padding: 15px;

            h2 {
                margin-bottom: 40px;
            }

            .imgBox {
                padding: 10px;
                margin-bottom: 10px;
            }

            .contentBox {
                p {
                    margin-bottom: 15px;
                }

                .durationDiv {
                    font-size: 13px;
                }
            }

            .statsBox {
                margin-top: 30px;

                .statsItem {
                    padding: 0px 25px;

                    .points {
                        font-size: 25px;
                        line-height: 25px;
                        margin-bottom: 0px;

                        svg {
                            height: 18px
                        }
                    }

                    h6 {
                        font-size: 12px;
                    }
                }
            }
        }

    }
}

@include media-query(1199px) {
    .caseStudy {
        h2 {
            margin-bottom: 50px
        }

        .caseBox {
            height: 540px;
            border-radius: 10px;
            padding: 15px;

            h2 {
                margin-bottom: 40px;
            }

            .imgBox {
                padding: 10px;
                margin-bottom: 10px;
            }

            .contentBox {
                p {
                    margin-bottom: 15px;
                }

                .durationDiv {
                    font-size: 12px;
                }
            }

            .statsBox {
                margin-top: 20px;

                .statsItem {
                    padding: 0px 25px;

                    .points {
                        font-size: 22px;
                        line-height: 22px;
                        margin-bottom: 0px;

                        svg {
                            height: 18px
                        }
                    }

                    h6 {
                        font-size: 12px;
                    }
                }
            }
        }

    }
}

@include media-query(900px) {
    .caseStudy {
        h2 {
            margin-bottom: 50px
        }

        .caseBox {
            height: auto;
            border-radius: 10px;
            padding: 15px;

            h2 {
                margin-bottom: 40px;
            }

            .imgBox {
                padding: 10px;
                margin-bottom: 10px;
            }

            .contentBox {
                p {
                    margin-bottom: 15px;
                }

            }

            .statsBox {
                margin-top: 20px;

                .statsItem {
                    padding: 0px 25px;

                    .points {
                        font-size: 22px;
                        line-height: 22px;
                        margin-bottom: 0px;

                        svg {
                            height: 18px
                        }
                    }

                    h6 {
                        font-size: 12px;
                    }
                }
            }
        }

    }
}

@include media-query(666px) {
    .caseStudy {
        h2 {
            margin-bottom: 50px
        }

        .caseBox {
            height: auto;
            border-radius: 10px;
            padding: 15px;

            h2 {
                margin-bottom: 40px;
            }

            .imgBox {
                padding: 10px;
                margin-bottom: 10px;
            }

            .contentBox {
                p {
                    margin-bottom: 15px;
                }

            }

            .statsBox {
                margin-top: 20px;
                flex-wrap: wrap;
                gap: 10px;

                .statsItem {
                    padding: 10px 10px;
                    flex: 0 0 calc(50% - 10px);
                    border: 1px solid $border-color;
                    border-radius: 5px;



                    .points {
                        font-size: 20px;
                        line-height: 20px;
                        margin-bottom: 0px;
                        align-items: start;

                        svg {
                            height: 18px;
                            margin-right: 4px;
                            display: none;
                        }


                    }

                    h6 {
                        font-size: 12px;
                    }

                    &:first-child {
                        padding-left: 10px;
                    }

                    &:last-child {
                        padding-right: 10px;
                        border-right: 1px solid $border-color;
                    }
                }
            }
        }

    }
}