@import '../variables.module.scss';

.solutoinMain {
    .solutionBox {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 40px;



        .solutionItem {
            flex: 0 0 24%;
            padding: 30px;
            box-sizing: border-box;
            text-align: center;
            color: $white-color;
            height: 370px;
            width: 100%;
            border-radius: 10px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .solutionIcon {
                margin-bottom: 30px;

                svg {
                    height: 50px;
                    width: auto;
                }
            }

            .solutionContent {
                h3 {
                    @include font-size(25px);
                    margin-bottom: 20px;
                    line-height: 30px;
                }

                p {
                    color: $white-color;
                    margin-bottom: 20px;
                }


            }

        }
    }
}

@include media-query(1799px) {
    .solutoinMain {
        .solutionBox {
            gap: 10px;
            margin-top: 40px;

            .solutionItem {
                flex: 0 0 24%;
                padding: 30px;
                height: 340px;
                width: 100%;

                .solutionIcon {
                    margin-bottom: 25px;

                    svg {
                        height: 50px;
                        width: auto;
                    }
                }

                .solutionContent {
                    h3 {
                        @include font-size(23px);
                        margin-bottom: 20px;
                        line-height: 28px;
                    }

                    p {
                        color: $white-color;
                        margin-bottom: 20px;
                    }
                }

            }
        }
    }
}

@include media-query(1599px) {
    .solutoinMain {
        .solutionBox {
            gap: 10px;
            margin-top: 40px;

            .solutionItem {
                flex: 0 0 24%;
                padding: 20px;
                height: 280px;
                width: 100%;

                .solutionIcon {
                    margin-bottom: 20px;

                    svg {
                        height: 40px;
                        width: auto;
                    }
                }

                .solutionContent {
                    h3 {
                        @include font-size(20px);
                        margin-bottom: 15px;
                        line-height: 26px;
                    }

                    p {
                        color: $white-color;
                        margin-bottom: 15px;
                    }
                }

            }
        }
    }
}

@include media-query(1399px) {
    .solutoinMain {
        .solutionBox {
            gap: 10px;
            margin-top: 40px;

            .solutionItem {
                flex: 0 0 24%;
                padding: 15px;
                height: 280px;
                width: 100%;

                .solutionIcon {
                    margin-bottom: 20px;

                    svg {
                        height: 40px;
                        width: auto;
                    }
                }

                .solutionContent {
                    h3 {
                        @include font-size(18px);
                        margin-bottom: 10px;
                        line-height: 22px;
                    }

                    p {
                        color: $white-color;
                        margin-bottom: 10px;
                    }
                }

            }
        }
    }
}

@include media-query(1299px) {
    .solutoinMain {
        .solutionBox {
            .solutionItem {
                flex: 0 0 24%;
                padding: 25px;
                height: 170px;

                .solutionContent {
                    h3 {
                        @include font-size(22px);
                        margin-bottom: 10px;
                        line-height: 28px;
                    }
                }
            }
        }

        .btnFlex {
            gap: 20px;
            margin-top: 50px;

            .buttonBlack {
                @include button($primary-color, $white-color, $primary-color, 15px);
                padding: 0px 20px;
                border-radius: 5px;

                &:hover {
                    background: $secondary-color;
                    border-color: $secondary-color;
                }
            }

            .buttonTrans {
                @include button(transparent, $white-color, $white-color, 15px);
                border-radius: 5px;
                max-width: 240px;

                &:hover {
                    background: $secondary-color;
                    border-color: $secondary-color;
                }
            }
        }
    }
}

@include media-query(1199px) {
    .solutoinMain {
        .solutionBox {
            .solutionItem {
                flex: 0 0 24%;
                padding: 10px;
                height: 150px;

                .solutionContent {
                    h3 {
                        @include font-size(20px);
                        margin-bottom: 10px;
                        line-height: 30px;
                        line-height: 25px;
                    }
                }
            }
        }

        .btnFlex {
            gap: 20px;
            margin-top: 50px;

            .buttonBlack {
                @include button($primary-color, $white-color, $primary-color, 14px);
                padding: 0px 20px;
                border-radius: 5px;

                &:hover {
                    background: $secondary-color;
                    border-color: $secondary-color;
                }
            }

            .buttonTrans {
                @include button(transparent, $white-color, $white-color, 14px);
                border-radius: 5px;
                max-width: 240px;

                &:hover {
                    background: $secondary-color;
                    border-color: $secondary-color;
                }
            }
        }
    }
}

@include media-query(900px) {
    .solutoinMain {
        .solutionBox {
            .solutionItem {
                flex: 0 0 49%;
                padding: 30px;
                height: 170px;

                .solutionContent {
                    h3 {
                        @include font-size(22px);
                        margin-bottom: 10px;
                        line-height: 28px;
                    }
                }
            }
        }

        .btnFlex {
            gap: 20px;
            margin-top: 50px;

            .buttonBlack {
                @include button($primary-color, $white-color, $primary-color, 14px);
                padding: 0px 20px;
                border-radius: 5px;

                &:hover {
                    background: $secondary-color;
                    border-color: $secondary-color;
                }
            }

            .buttonTrans {
                @include button(transparent, $white-color, $white-color, 14px);
                border-radius: 5px;
                max-width: 240px;

                &:hover {
                    background: $secondary-color;
                    border-color: $secondary-color;
                }
            }
        }
    }
}


@include media-query(666px) {
    .solutoinMain {
        .solutionBox {
            .solutionItem {
                flex: 0 0 100%;
                padding: 30px;
                height: 170px;

                .solutionContent {
                    h3 {
                        @include font-size(22px);
                        margin-bottom: 10px;
                        line-height: 28px;
                    }
                }
            }
        }

        .btnFlex {
            gap: 20px;
            margin-top: 20px;
            flex-direction: column;

            .buttonBlack {
                @include button($primary-color, $white-color, $primary-color, 14px);
                padding: 0px 20px;
                border-radius: 5px;
                width: 240px;

                &:hover {
                    background: $secondary-color;
                    border-color: $secondary-color;
                }
            }

            .buttonTrans {
                @include button(transparent, $white-color, $white-color, 14px);
                border-radius: 5px;
                width: 240px;

                &:hover {
                    background: $secondary-color;
                    border-color: $secondary-color;
                }
            }
        }
    }
}