@import '../variables.module.scss';

.embla {
    max-width: 100%;

    .embla__viewport {
        overflow: hidden;

        .embla__container {
            backface-visibility: hidden;
            display: flex;
            touch-action: pan-y pinch-zoom;
            justify-content: space-between;

            .embla__slide {
                flex: 0 0 100%;
                height: 440px;
                min-width: 0;
                padding-left: 0px;

                .testimonialBox {
                    height: 440px;

                    .testimonialImg {
                        position: relative;
                        height: 440px;
                        display: block;

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;

                        }

                        &:before {
                            content: '';
                            background: rgba(0, 0, 0, 0.5);
                            width: 100%;
                            height: 100%;
                            z-index: 0;
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            z-index: 0;
                        }

                        .playBtn {
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            cursor: pointer;
                            @include transition(all);

                            &:hover {
                                @include transition(all);

                                svg {
                                    ellipse {
                                        fill: $secondary-color;
                                    }

                                    path {
                                        fill: $white-color;

                                    }

                                }
                            }
                        }

                    }

                    .itemMain {
                        padding-right: 80px;

                        .txtItem {
                            @include font-size(30px);
                            line-height: 50px;
                            color: $white-color;
                            font-weight: 600;
                            text-align: left;
                            font-style: italic;
                            margin-bottom: 60px;


                        }

                        .testimonialInfo {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .testimonialName {
                                h6 {
                                    font-size: 25px;
                                    line-height: 35px;
                                    color: $secondary-color;
                                    font-weight: 600;
                                    margin-bottom: 0px;

                                    p {
                                        color: #8B8B8B;
                                        margin-bottom: 0px;
                                        line-height: normal;
                                    }
                                }
                            }

                            .testimonialRating {
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                .testimonialNumbers {
                                    font-size: 20px;
                                    line-height: 30px;
                                    color: $white-color;
                                    font-weight: 500;

                                    svg {
                                        margin-left: 10px;
                                    }
                                }

                            }
                        }

                    }



                }
            }
        }

    }

}


@include media-query(1799px) {
    .embla {
        .embla__viewport {
            .embla__container {
                .embla__slide {
                    height: 440px;

                    .testimonialBox {
                        height: 440px;

                        .testimonialImg {
                            height: 440px;

                            .playBtn {
                                svg {
                                    height: 90px;
                                    width: auto;
                                }
                            }

                        }

                        .itemMain {
                            padding-right: 80px;

                            .txtItem {
                                @include font-size(30px);
                                line-height: 50px;
                                margin-bottom: 60px;


                            }

                            .testimonialInfo {
                                .testimonialName {
                                    h6 {
                                        font-size: 25px;
                                        line-height: 35px;
                                    }
                                }

                                .testimonialRating {
                                    .testimonialNumbers {
                                        font-size: 20px;
                                        line-height: 30px;

                                        svg {
                                            margin-left: 10px;
                                        }
                                    }

                                }
                            }

                        }



                    }
                }
            }
        }
    }
}

@include media-query(1599px) {
    .embla {
        .embla__viewport {
            .embla__container {
                .embla__slide {
                    height: 350px;

                    .testimonialBox {
                        height: 350px;

                        .testimonialImg {
                            height: 350px;

                            .playBtn {
                                svg {
                                    height: 80px;
                                    width: auto;
                                }
                            }

                        }

                        .itemMain {
                            padding-right: 80px;

                            .txtItem {
                                @include font-size(25px);
                                line-height: 40px;
                                margin-bottom: 50px;


                            }

                            .testimonialInfo {
                                .testimonialName {
                                    h6 {
                                        font-size: 22px;
                                        line-height: 32px;
                                    }
                                }

                                .testimonialRating {
                                    .testimonialNumbers {
                                        font-size: 18px;
                                        line-height: 28px;

                                        svg {
                                            margin-left: 10px;
                                        }
                                    }

                                }
                            }

                        }



                    }
                }
            }
        }
    }
}

@include media-query(1399px) {
    .embla {
        .embla__viewport {
            .embla__container {
                .embla__slide {
                    height: 300px;

                    .testimonialBox {
                        height: 300px;

                        .testimonialImg {
                            height: 300px;

                            .playBtn {
                                svg {
                                    height: 70px;
                                    width: auto;
                                }
                            }

                        }

                        .itemMain {
                            padding-right: 60px;

                            .txtItem {
                                @include font-size(22px);
                                line-height: 36px;
                                margin-bottom: 50px;


                            }

                            .testimonialInfo {
                                .testimonialName {
                                    h6 {
                                        font-size: 20px;
                                        line-height: 30px;
                                    }
                                }

                                .testimonialRating {
                                    .testimonialNumbers {
                                        font-size: 17px;
                                        line-height: 27px;

                                        svg {
                                            margin-left: 10px;
                                        }
                                    }

                                }
                            }

                        }



                    }
                }
            }
        }
    }
}

@include media-query(1299px) {
    .embla {
        .embla__viewport {
            .embla__container {
                .embla__slide {
                    height: 300px;

                    .testimonialBox {
                        height: 300px;

                        .testimonialImg {
                            height: 300px;

                            .playBtn {
                                svg {
                                    height: 70px;
                                    width: auto;
                                }
                            }

                        }

                        .itemMain {
                            padding-right: 60px;

                            .txtItem {
                                @include font-size(22px);
                                line-height: 36px;
                                margin-bottom: 50px;


                            }

                            .testimonialInfo {
                                .testimonialName {
                                    h6 {
                                        font-size: 20px;
                                        line-height: 30px;
                                    }
                                }

                                .testimonialRating {
                                    .testimonialNumbers {
                                        font-size: 17px;
                                        line-height: 27px;

                                        svg {
                                            margin-left: 10px;
                                        }
                                    }

                                }
                            }

                        }



                    }
                }
            }
        }
    }
}

@include media-query(1199px) {
    .embla {
        .embla__viewport {
            .embla__container {
                .embla__slide {
                    height: 250px;

                    .testimonialBox {
                        height: 250px;

                        .testimonialImg {
                            height: 250px;

                            .playBtn {
                                svg {
                                    height: 50px;
                                    width: auto;
                                }
                            }

                        }

                        .itemMain {
                            padding-right: 30px;

                            .txtItem {
                                @include font-size(18px);
                                line-height: 30px;
                                margin-bottom: 50px;


                            }

                            .testimonialInfo {
                                .testimonialName {
                                    h6 {
                                        font-size: 18px;
                                        line-height: 26px;
                                    }
                                }

                                .testimonialRating {
                                    .testimonialNumbers {
                                        font-size: 15px;
                                        line-height: 25px;

                                        svg {
                                            margin-left: 10px;
                                        }
                                    }

                                }
                            }

                        }



                    }
                }
            }
        }
    }
}

@include media-query(900px) {
    .embla {
        .embla__viewport {
            .embla__container {
                .embla__slide {
                    height: 220px;

                    .testimonialBox {
                        height: 220px;

                        .testimonialImg {
                            height: 220px;

                            .playBtn {
                                svg {
                                    height: 40px;
                                    width: auto;
                                }
                            }

                        }

                        .itemMain {
                            padding-right: 0px;

                            .txtItem {
                                @include font-size(16px);
                                line-height: 26px;
                                margin-bottom: 30px;

                            }

                            .testimonialInfo {
                                .testimonialName {
                                    h6 {
                                        font-size: 16px;
                                        line-height: 24px;
                                    }
                                }

                                .testimonialRating {
                                    .testimonialNumbers {
                                        font-size: 13px;
                                        line-height: 23px;

                                        svg {
                                            margin-left: 8px;
                                            width: auto;
                                            height: 35px;
                                        }
                                    }

                                }
                            }

                        }



                    }
                }
            }
        }
    }
}

@include media-query(666px) {
    .embla {
        .embla__viewport {
            .embla__container {
                .embla__slide {
                    height: auto;

                    .testimonialBox {
                        height: auto;

                        .testimonialImg {
                            height: 200px;
                            margin-top: 20px;

                            .playBtn {
                                svg {
                                    height: 40px;
                                    width: auto;
                                }
                            }

                        }

                        .itemMain {
                            padding-right: 0px;

                            .txtItem {
                                @include font-size(15px);
                                line-height: 26px;
                                margin-bottom: 20px;

                            }

                            .testimonialInfo {
                                .testimonialName {
                                    h6 {
                                        font-size: 15px;
                                        line-height: 18px;
                                    }

                                    p {
                                        margin-top: 2px;
                                        font-size: 11px;
                                        line-height: 12px;
                                    }
                                }

                                .testimonialRating {
                                    .testimonialNumbers {
                                        font-size: 13px;
                                        line-height: 23px;

                                        svg {
                                            margin-left: 8px;
                                            width: auto;
                                            height: 35px;
                                        }
                                    }

                                }
                            }

                        }



                    }
                }
            }
        }
    }
}