@import '../variables.module.scss';


.videoPopup {
    max-width: 1000px;
    height: 500px;
    @include padding(10px);
    border-radius: 20px;
    background: $black-color;

    video {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}



@include media-query(900px) {
    .influenceVideo {
        background-image: url("../../public/home/brands/Influencer_frame.webp");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        display: block;
        width: 300px;
        height: 600px;
        margin: auto;
        position: relative;

        video {
            width: 260px;
            height: 560px;
            border-radius: 20px;
            object-fit: cover;
            z-index: -1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .videoPopup {
        max-width: 1000px;
        height: 360px;
    }
}


@include media-query(666px) {
    .influenceVideo {
        height: 500px;
        width: 250px;

        video {
            width: 230px;
            height: 480px;
            border-radius: 20px;
        }
    }

    .videoPopup {
        max-width: 1000px;
        height: 280px;
    }
}